.AddPlayer {
  /* padding-left: 40px; */
  margin-top: 60px;
}

.AddPlayer_input {
  width: 30%;
  height: 30px;
  padding: 0;
}

.AddPlayer_submit {
  width: 60px;
  height: 34px;
}

@media (max-width: 768px) {
  .AddPlayer_input {
    width: 60%;
  }
}
