.Player {
  width: 400px;
  height: 30px;
  line-height: 30px;
  display: flex;
  padding: 3px;
}

.Player_name, .Player_score, .Player_button {
  border: 1px solid #2b2b2b;
}

.Player_name {
  flex: 7;
  text-transform: uppercase;
  padding-left: 5px;
  background-color: #d3d3d3;
}

.Player_score {
  flex: 2;
  text-align: center;
}

.Player_button {
  flex: 1;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.plus_button {
  background-color: #228b22;
}

.plus_button:active {
  background-color: #11ad11;
}

.minus_button {
  background-color: #ef4f4f;
}

.minus_button:active {
  background-color: #f27474;
}

.Remove_button {
  padding-left: 10px;
  cursor: pointer;
}

body {
  counter-reset: section;
}

li::before {
  counter-increment: section;
  content: counter(section);
  width: 30px;
  text-align: center;
  border: 1px solid #2b2b2b;
}
